@font-face {
  font-family: "Digital-7";
  src: url("../assets/fonts/Digital 7.ttf");
}
body {
  background-color: aliceblue;
  font-family: ABeeZee;
}
.button {
  align-items: center;
  background-color: blanchedalmond;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: ABeeZee;
  font-size: larger;
  height: 67px;
  justify-content: center;
  width: 67px;
}
.button:hover {
  opacity: 0.7;
}
.calculator {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  margin: 0 auto;
  padding: 24px;
  width: 320px;
}
.clear {
  border-radius: 33px;
  width: 134px;
}
.display {
  background-color: #f1ffcc;
  border-radius: 12px;
  height: 67px;
  width: 100%;
}
.display__input {
  font-family: "Digital-7";
  font-size: 55px;
  overflow: hidden;
  padding: 0 12px;
  text-align: right;
}
.display__input:hover {
  overflow-x: auto;
}
.equal {
  border-radius: 33px;
  width: 134px;
}
.function {
  background-color: cadetblue;
}
.header {
  font-size: larger;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 12px;
}

@media screen and (max-width: 786px) {
  .button {
    height: 50px;
    width: 50px;
  }
  .calculator {
    width: 240px;
  }
  .clear {
    width: 100px;
  }
  .display {
    height: 50px;
  }
  .display__input {
    font-size: xx-large;
  }
  .equal {
    width: 100px;
  }
  .header {
    font-size: large;
  }
  .row {
    margin: 8px;
  }
}
